
{{! This is the post loop - each post will be output using this markup }}
<div class="post-gallery">
    {{#foreach posts}}
    <article class="post-gallery-item">
        <a class="read-more" href="{{url}}">{{content words="0"}}</a>
    </article>
    {{/foreach}}
</div>
