<nav class="main-photo-header">
    <ol>
        <li><a href="{{@blog.url}}">{{@blog.title}}</a></li>
        <li><a href="{{@blog.url}}/about">What?</a></li>
        <li><a href="{{@blog.url}}/map">Map</a></li>
    </ol>
</nav>