{{!< default}}

<main class="content" role="main">
    <article class="{{post_class}}">
        <div class="error-content">
            <h3><a href="{{@blog.url}}">{{@blog.title}}</a></h3>
            <h1>404 Not Found</h1>
            <img src="{{asset "images/not-found.jpg"}}" />
            Image:
            <a href="http://www.britainfromabove.org.uk/image/EAW011202">http://www.britainfromabove.org.uk/image/EAW011202</a>
            <br />
            &copy; Historic England
        </div>
    </article>
</main>
