{{!< default}}
{{#post}}

<header>
    {{> "main-header"}}
</header>

<main class="content" role="main">
    <article class="{{post_class}} map">

        <div id="map"></div>
        <section class="post-content">
            {{content}}
        </section>
        <script type="text/javascript" async defer>

            var locations = [];
            var mapReady = false;
            var pointsLoaded = false;
            var map;

            var styleArray = [
                {
                    featureType: "all",
                    stylers: [
                        {saturation: -100},
                        {lightness: 10}
                    ]
                }, {
                    featureType: "poi.business",
                    elementType: "labels",
                    stylers: [
                        {visibility: "off"}
                    ]
                }, {
                    featureType: "landscape",
                    elementType: "geometry.stroke",
                    stylers: [
                        {color: "#666666"}
                    ]
                }, {
                    featureType: "poi",
                    elementType: "geometry.stroke",
                    stylers: [
                        {color: "#666666"}
                    ]
                }, {
                    featureType: "water",
                    stylers: [
                        {color: "#BBBBBC"}
                    ]
                }
            ];

            function defer(method) {
                if (window.jQuery)
                    method();
                else
                    setTimeout(function() { defer(method) }, 50);
            }

            function getPostTags () {
                $.get(ghost.url.api('posts', {limit: 'all', include: 'tags'})).done(function (data) {
                    locations = data.posts.map(function (post) {
                        function isCoordinates(o) { return o.name.indexOf('|') > -1; }
                        var gps = post.tags.filter(isCoordinates)[0].name.split('|');
                        return {url: post.url, lat: gps[0], long: gps[1]}
                    });
                    pointsLoaded = true;
                    if (mapReady) {
                        initMap();
                    }

                }).fail(function (err) {
                    console.err(err);
                });
            }

            function mapLoaded () {
                mapReady = true;
                if (pointsLoaded) {
                    initMap();
                }
            }

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 51.5192, lng: -0.093617},
                    zoom: 17,
                    styles: styleArray,
                    disableDefaultUI: true
                });

                var p;
                for (var i = 0; i < locations.length; i++) {
                    p = locations[i];
                    var marker = new google.maps.Marker({
                        position: {lat: parseFloat(p.lat), lng:parseFloat(p.long)},
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 4,
                            strokeWeight: 1,
                            strokeOpacity: 1,
                            fillOpacity: 1,
                            fillColor: '#ECBE13'
                        },
                        map: map,
                        url: p.url
                    });

                    google.maps.event.addListener(marker, 'click', function() {
                        window.location.href = this.url;
                    });
                }
            }

            defer(getPostTags);
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD12u5uURu5oBbCbk1GB5LUG4vASD3dDoY&callback=mapLoaded">
        </script>
    </article>
</main>
{{/post}}
