{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header>
    {{> "main-header"}}
</header>

<main class="content" role="main">
    <article class="{{post_class}}">
        <section class="post-content">
            {{content}}
        </section>
        <div class="content-nav">
                <span>
                    {{#next_post}}
                        <a href="{{url}}">&larr;</a>
                    {{/next_post}}
                </span>
                <span>
                    {{#prev_post}}
                        <a href="{{url}}">&rarr;</a>
                    {{/prev_post}}
                </span>
        </div>
    </article>
</main>

{{/post}}
